<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>971513413239-bsjfgc38is1l5taps58nft3ijtvig739.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.971513413239-bsjfgc38is1l5taps58nft3ijtvig739</string>
	<key>API_KEY</key>
	<string>AIzaSyCxdPeYxlH2je4gE78SwqYd9l2CfHfkyy0</string>
	<key>GCM_SENDER_ID</key>
	<string>971513413239</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>home.santaApp</string>
	<key>PROJECT_ID</key>
	<string>santa-89fcf</string>
	<key>STORAGE_BUCKET</key>
	<string>santa-89fcf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:971513413239:ios:ad48583723cf1daadf9072</string>
</dict>
</plist>