<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>930686702729-kln8n4nh9salca0fgpjfp9knh8nm4mpt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.930686702729-kln8n4nh9salca0fgpjfp9knh8nm4mpt</string>
	<key>API_KEY</key>
	<string>AIzaSyBoQXiaoWPhZIMpUokYtBocr_mQ1OfzFiM</string>
	<key>GCM_SENDER_ID</key>
	<string>930686702729</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>home.santaApp</string>
	<key>PROJECT_ID</key>
	<string>santa-dev-7262a</string>
	<key>STORAGE_BUCKET</key>
	<string>santa-dev-7262a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:930686702729:ios:05b63ba400de092b06e258</string>
</dict>
</plist>